body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 20px;
}

html {
    background-color: #f4f4f4;
    color: #333;
}

p {
    color: #555;
    margin: 0 0 10px;
}

h1,
h2 {
    color: #333;
}

h3 {
    color: #666;
    font-size: 1.5rem;
}

h1 .svg-icon {
    width: 100px !important;
    height: auto;
}

.svg {
    width: 300px;
    height: auto;
}

.svg-icon {
    display: inline-block;
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.timer {
    fill: #e91212;
}

.sdk {
    fill: #4a90e2;
}

.settings {
    fill: #f0ad4e;
}

.timer:hover {
    fill: #f5dd08;
    cursor: pointer;
}

.sdk:hover {
    fill: #1062f1;
    cursor: pointer;
}

.settings:hover {
    fill: #f5dd08;
    cursor: pointer;
}

.icon-title {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}